#admin-info{
    height: 500px;
    width: 300px;
    position:relative;
    top:100px;
    opacity: 0.5;
}
div#admin-info:hover{
    opacity: 1;
}

.admin-picture{
    height: 150px;
    width: 200px !important;
    position: relative;
    bottom: 120px;
    }

.admin-info{
    position: relative;
    bottom: 120px;
}

.infos{
    margin-top: 80px;
}

.logout{
    position:relative;
    left:50px;
}